.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #e2592f, #dd1964, #0faee7, #16d861);
    background-size: 500% 500%;
    animation: backgroundGradient 15s ease infinite;
  }
  .board {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  .board:hover {
    cursor: crosshair; 
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 100vw;
    height: 100vw;
    max-width: 800px;
    max-height: 800px;
  }
  .title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
  }
  .buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  button {
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 1em;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s;
  }
  button:hover {
    cursor: pointer;
  }
  .blackButton {
    background-color: black;
    color: white;
  }
  .blackButton:hover {
    background-color: white;
    color: black;
  }
  .grayButton {
    background-color:gray;
    color: black;
  }
  .grayButton:hover {
    background-color: rgb(95, 95, 95);
    color: white;
  }
  .randomButton {
    animation: rainbowButtonBackground 10s ease infinite;
  }
  
  @keyframes rainbowButtonBackground {
    0% {
      background-color: #ff6262;
    }
    20% {
      background-color: #ffef62;
    }
    40% {
      background-color: #7cff62;
    }
    60% {
      background-color: #62ffe5;
    }
    80% {
      background-color: #6272ff;
    }
    100% {
      background-color: #ff62ff;
    }
  }
  

  .eraserButton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .eraserButton:hover {
    background-color: white;
    color: rgb(255, 255, 255);
  }
  input {
    width: 30px;
    text-align: center;
    font-size: 15px;
  }
  
  .mode {
    margin-top: 20px;
    color: white;
    font-size: 18px;
  }
  .error {
    display: none;
    color: white;
  }




  @keyframes backgroundGradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}